@charset 'UTF-8';

body, html {
    margin: 0;
    padding: 0;
}


figure{
	padding: 0;
	margin: 0;
}

.bg {
   background-image: url("images/jouedroite3.png");
   height: 100vh; 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-size: 50px;
}

.form {
  width: 100%;
  color: black;
  font-size: 30px;
  padding: 100px;
  margin: 100px;
  margin-top: 100px;
  padding-top: 100px;
  padding-left: 60px;
}
.formu {
  width: 100%;
  color: white;
  font-size: 30px;
  margin-top: 40px;
  padding-top: 0px;
  padding-left: 30px;
}
.formul {
  width: 100%;
  color: black;
  font-size: 30px;
  margin-top: 40px;
  padding-top: 0px;
  padding-left: 30px;
}
.formula {
  width: 100%;
  color: black;
  font-size: 30px;
  margin-top: 40px;
  padding-top: 0px;
  padding-left: 30px;
}
.formulaire {
  width: 100%;
  color: white;
  font-size: 30px;
  margin-top: 40px;
  padding-top: 0px;
  padding-left: 30px;
}
	
