@charset 'UTF-8';

body, html {
    margin: 0;
    padding: 0;
}


figure{
	padding: 0;
	margin: 0;
}

.bg {
   background-image: url("images/jouedroite2.png");
   height: 50vw; 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.form {
  width: 100%;
  box-sizing: border-box;
  color: black;
  font-size: 4px;
  margin: 20px;
  padding: 20px;
}
.formu {
  width: 100%;
  box-sizing: border-box;
  color: white;
  margin: 20px;
  padding: 20px;
}
